.banner{
    padding: 8rem 0px;
    background-image: url(../../../images/bannerbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (min-width: 800px) {
    .rafat-input-field-width{
        width: 50%;
    }
}